@import url(http://fonts.googleapis.com/css?family=Mate|Pacifico|Italianno|Open+Sans+Condensed:300);

body{
  background: url(../img/bluebubbles2.jpg);
  font-family: 'Vidaloka', serif;
}

#container-big{
  max-width: 920px;
  min-width:400px;
  margin: 0 auto 0 auto;
  padding: 1em;
}

.pictures{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}


img{
  margin-top: 50px;
  border: 2px solid #333;
}

article{
  margin-bottom: 30px;
}

h1 {
  color: rgb(0,227,161);
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 50px;
}

#welcome{
  text-align: center;
}

#webpagewelcome{
  text-align: center;
}

h2 {
  color: rgb(0,227,161);
  font-family: 'Open Sans Condensed', sans-serif;
}

.experience{
  line-height: 2;
}
.experience + p{
  line-height: 1.5;
}

nav{
  text-align: center;
}

ol li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid #ccc;
}

ol li > a {
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom:15px;
  background: rgb(107,91,143);
  border: 6px solid rgb(138,51,143);
  text-decoration: none;
  color: rgb(91,183,94);
}


ol li > a:hover {
  background: rgb(138,51,143);
  color: white;

}

h3 {
  font-size: 20px;
  color: rgb(138,51,143);
}

#initials {
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 100px;
  color: rgb(107,91,143);
}

p {
line-height:40px;
font-family: 'Mate', serif;
}
}
